body {
	background-color: black;
	color: seashell;
	font-family: Helvetica;
	font-size: 22px;
	margin: 0 auto;
	opacity: 0.9;
	text-align: center;
}

/******* HEADER NAV CONTENT *********/

header {
	align-items: center;
	background-color: black;
	border-bottom: 1px solid seashell; 
	display: flex;
	height: 69px;
	width: 100%;
	position: fixed;
}

header div {
	margin-right: auto;
}

#logo {
	margin-left: 10px;
	height: 50px;
	margin-right: auto;
}

ul li {
	display: inline;
	list-style: none;
	padding: 10px;
}

a {
	color: seashell;
}

/******** MAIN CONTENT **********/

.main {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 70px;
}

.landing {
	background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg');
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 700px;
	width: 1200px;
}

.mission {
	background-color: black;
	width: 100%;
}